* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}
body{
  background-color: aliceblue;
  display: flex;
  
}
main {
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: aliceblue; */
  overflow: hidden;
}
.container {
  width: 45rem;
  height: 92%;
  /* background: aliceblue; */
  display: grid;
  grid-template-columns: 22% auto;
  gap: 16px;
  overflow: hidden;
}
.col1 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.col2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px;
}
.item1 {
  background: hsl(31, 66%, 93%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 16px;
  border-radius: 5px;
}
.item1 .text {
  font-size: 23px;
  font-weight: 600;
}
.item1 .text span {
  font-weight: 500;
  color: hsl(256, 67%, 59%);
}
.item2 {
  background: hsl(39, 100%, 71%);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  padding: 16px;
  border-radius: 5px;
}
.item2 .text {
  font-size: 23px;
  font-weight: 600;
}
.item3 {
  background: hsl(256, 67%, 59%);
  height: 100%;
  padding: 20px 11px;
  grid-column: span 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
}
.item3 .text {
  color: white;
  font-size: 42px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item3 .text span {
  color: hsl(39, 100%, 71%);
}
.item3 .img img {
  width: 8rem;
  margin-top: 10px;
}
.item3 > span {
  color: white;
  font-size: 14px;
}
.item4 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: hsl(254, 88%, 90%);
  padding: 32px 16px 16px 16px;
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 8px;
  position: relative;
}
.item4 .text {
  font-size: 18px;
}
.item4 span {
  font-size: 13px;
  color: rgb(65, 63, 63);
  font-weight: 200;
 
}
.item4 .img {
  width: 14rem;
  
}
.item5 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: white;
  border-radius: 8px;
  padding: 8px 0 8px 8px;
}
.item5 .img{
  width: 14rem;
}
.item5 .text{
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}
.item6{
  background:hsl(39, 100%, 71%);
  padding: 8px 8px 0 8px;
  width: 100%;
  overflow: hidden;
  height: 11rem;
  border-radius: 8px;
}
.item6 .text{
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 8px;
}
.item7{
  background: white;
  padding: 12px;
  border-radius: 8px;
}
.item7 .text{
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 8px;
}
.item7 span{
  font-size: 12px;
  color: rgb(65, 63, 63);
}
.item7 .img{
  width: 6rem;
  margin-top: 8px;
}
.item8 {
  background: hsl(256, 67%, 59%);
  grid-column: span 2;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 8px;
}
.item8 .img {
  width: 9rem;
}
.item8 .text{
  font-size: 25px;
  font-weight: 600;
  color: white;
}
@media (max-width: 768px) {
  .main{
    flex-direction: column;
    padding: 16px;
  }
  .container{
    grid-template-columns: 1fr;
    gap: 12px;
    width: 100%;
    height: auto;
   
  }
  .col1{
    flex-direction: row;
  }
  .col1, .col2{
    width: 100%;
    height: auto;
    padding: 8px;
  }
  .col2{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 16px;
  }
  
  .item3 {
    grid-column: span 2;
    
  }
  .item4 {
    grid-column: span 2;
    grid-row: span 1;
   align-items: center;
   justify-content: center;
  }
  .item4 .img {
    width: 20rem;
    
  }

  
  .item7 {
    grid-column: span 2;
    
    
  }
  .item8 {
    grid-column: span 2;
    flex-direction: column;
    
  }
  .item8 .img {
    width: 12rem;
  }
  .item8 .text{
    font-size: 18px;
   
  }
}
@media (max-width: 375px) {
  .main{
    flex-direction: column;
    padding: 16px;
  }
  .container{
    grid-template-columns: 1fr;
    gap: 12px;
    width: 100%;
    height: auto;
   
  }
  .col1{
    flex-direction: column;
  }
  .col1, .col2{
    width: 100%;
    height: auto;
    padding: 8px;
  }
  .col2{
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 16px;
  }
  
  .item3 {
    grid-column: span 1;
    
  }
  .item4 {
    grid-column: span 1;
    grid-row: span 1;
   align-items: center;
   justify-content: center;
  }
  
  .item8 {
    grid-column: span 1;
    flex-direction: column;
    
  }
  .item8 .img {
    width: 12rem;
  }
  .item8 .text{
    font-size: 18px;
   
  }
  .item7 {
    grid-column: span 1;
    
    
  }
}